

.border-box{
width: 250px;
    height: 650px;
    border: 2px solid black;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#secondFloor{
width: 248px;
border: 2px solid black;
height: 216px;
display: flex;
    justify-content: center;
    align-items: center;
}

#firstFloor{
width: 248px;
    border: 2px solid black;
    height: 216px;
    display: flex;
        justify-content: center;
        align-items: center;
    
}

#groundFloor{
width: 248px;
    border: 2px solid black;
    height: 210px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.groundBtn {
    position: absolute;
    left: 30px;
   
    top: 80%;
 

    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}

.secondBtn{
    position: absolute;
        left: 30px;
       
        top: 15%;
     
    
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
}

.FirstUpBtn{
position: absolute;
    left: 30px;
  
    top: 45%;
  

    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.FirstDownBtn{
position: absolute;
    left: 30px;
 
    top: 55%;


    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.lift{
 
    width: 148px;
        border: 2px solid black;
        height: 210px;
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-215px);
     
    }
}

@keyframes moveAgainUp {
    from {
        transform: translateY(-215px);
    }

    to {
        transform: translateY(-435px);
      
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-210px);
      
    }

    to {
        transform: translateY(0);
    }
}

@keyframes moveDownAgain {
    from {
        transform: translateY(-435px);
       
    }

    to {
        transform: translateY(-210px);
    }
}
